title{
    font-weight: bold;
    color: aquamarine;
}

h1{
    color:navajowhite;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    size: 200%;
}

h2{
    font-weight: bold;
}

body{
    text-align: center;
}

